@import 'variables';

.section--login
  width 100%
  height 100vh
  background-color $backgroundAnthracite
  display flex
  -webkit-box-align center

  .container--login
    margin auto
    width 500px
    height 220px
    padding 15px
    background-color $backgroundSecondary
    -webkit-box-shadow 0 0 8px 0 rgba(0,0,0,0.9)
    -moz-box-shadow 0 0 8px 0 rgba(0,0,0,0.9)
    box-shadow 0 0 8px 0 rgba(0,0,0,0.9)
    color $colorText

    .form-field-full-width
      width 100%
      margin 10px
