@import 'variables';

.section--district__delete
  color $colorText
  display flex
  -webkit-box-align center
  width 100%
  height 100%

  .container--delete
    width 500px
    height 150px
    padding 50px 15px 15px
    background-color $backgroundSecondary
    -webkit-box-shadow 0 0 8px 0 rgba(0,0,0,0.9)
    -moz-box-shadow 0 0 8px 0 rgba(0,0,0,0.9)
    box-shadow 0 0 8px 0 rgba(0,0,0,0.9)
    margin auto
    text-align center

    p
      margin-bottom 30px

    .container--button
      text-align right
