<section class="section--notFound">
  <div class="container--notFound flex-container">
    <div class="flex-item oups--img">
      <img src="assets/images/oups.png">
    </div>
    <div class="flex-item notFound--img">
      <img src="assets/images/404.png">
      <p>Page Introuvable</p>
      <a routerLink="">
        <button mat-raised-button color="primary">
          Retour à l'accueil <mat-icon aria-hidden="false" aria-label="accueil">home</mat-icon>
        </button>
      </a>
    </div>
  </div>
</section>
